.dice-game {
    padding: 0 40rpx;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.title {
    flex: 1;
    color: #6190E8;
    padding: 20rpx 0;
}

.dice-num {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    text-align: left;
}

.dice-picker {
    font-size: 40rpx;
}

.dice-bg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.dice-box {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 0); // rotateX(-15deg)
    width: 420rpx;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;

    image {
        flex: 0 0 110rpx;
        height: 110rpx;
        margin: 10rpx;
    }
}

.dice-bg-active {
    opacity: .8;
}

.shake-text {
    font-size: 60rpx;
    line-height: 2.0;
    color: #6190E8;
    display: flex;
    align-items: center;
    justify-content: center;

    image {
        display: inline-block;
        flex: 0 0 80rpx;
        height: auto;
    }
}

.opt-btn {
    position: absolute;
    bottom: 60rpx;
    left: 0;
    right: 0;
    margin: 0 20px;

}
