@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.roate-game {
    width: 100%;
}

.title {
    text-align: center;
    color: #6190e8;
    padding: 20rpx 0;
}

.cus-btn {
    position: relative;
    // top: 80rpx;
    // left: 40rpx;
}

.action-btn {
    position: absolute;
    left: 40rpx;
    right: 40rpx;
    bottom: 60rpx;
}

.rotate-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 500rpx;
    text-align: center;
}

.sector {
    position: absolute;
    left: 50%;
    width: 250rpx;
    height: 500rpx;
    margin: 0 auto;
    border-radius: 0rpx 250rpx 250rpx 0;
    overflow: hidden;
    // transform: rotate(-18deg);
    transform-origin: left center;

}

.sector-inner {
    text-align: center;
    display: block;
    width: 250rpx;
    // padding: 10rpx 6rpx 0 114rpx;
    height: 500rpx;
    // transform: translateX(-200rpx) rotate(36deg);
    transform-origin: right center;
    box-sizing: border-box;
    border-radius: 250rpx 0 0 250rpx;
}

.sector-inner span {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    box-sizing: border-box;
    color: #ff571a;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 1.0;
    height: 66rpx;
}

.sector:nth-child(2n+1) .sector-inner {
    background: #fef6e0;
}

.sector:nth-child(2n) .sector-inner {
    background: #ffffff;
}

.ani-rotate {
    position: relative;
    left: 50%;
    width: 500rpx;
    height: 500rpx;
    background-color: #ff571a;
    padding: 20rpx;
    box-shadow: #000000 0px 0px 10rpx;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
    transition: 5s cubic-bezier(.18, 1.05, .79, 1.08);
}

.rotate-pointer {
    // display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 60rpx;
    width: 60rpx;
    padding: 12rpx;
    color: #fff899;
    line-height: 60rpx;
    font-size: 24rpx;
    text-align: center;
    background-color: #ff571a;
    border-radius: 50%;
    border: 2rpx solid #c0381f;
}

.rotate-pointer::after {
    content: '';
    position: absolute;
    left: 28rpx;
    top: -56rpx;
    border-width: 30rpx 15rpx;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ff571a;
}

.rotate-animation {
    animation: rotate 1s 1;
}
