.puke-game {
    padding: 40rpx;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title {
    flex: 1;
    color: #6190E8;
    padding: 20rpx 0;
}

.puke-btn {
    width: 100%;
    flex: 1;
    display: inline-block;
    padding: 0 250rpx;
}

.explain-label {
    display: block;
    width: 100%;
    color: #6190E8;
    font-size: 28rpx;
    text-align: left;
    margin-top: 200rpx;
}

.expain {
    font-size: 24rpx;
    color: #7b7b7b;
    padding: 40rpx 0;
    text-align: left;
}

.puke-img {
    width: 100%;
    height: auto;
}
