.index{
    padding: 0 30rpx;
    box-sizing: border-box;
    // title
    .title{
        text-align: center;
        font-size: 30rpx;
        color: aqua;
        padding: 80rpx 0;
        font-weight: 700;
    }
    // content
    .content{
        padding: 30rpx 0;
        font-size: 28rpx;
        color: #777777;
    }
    // footer
    .btn-group{
        position: fixed;
        bottom: 30rpx;
        left: 0;
        width: 100%;
        padding: 0 30rpx;
        box-sizing: border-box;
        height: auto;
    }
}