.game {
    padding: 0 40rpx;

    .at-input {
        margin-left: 0;
    }

    .title {
        text-align: center;
        color: #6190E8;
        padding: 20rpx 0;
    }

    .expain{
        font-size: 24rpx;
        color: #7b7b7b;
        padding: 40rpx 0;
    }

    .footer {
        padding: 40rpx;
        box-sizing: border-box;

    }
}
